@import '../../styles/global';
@import '../../styles/partials/mixins';
@import '../../styles/partials/typography';

.search-input {
  margin-bottom: 24px;
  position: relative;

  &-cont {
    background-color: $neutralSurface;
    width: 330px;
    border-radius: 8px;
    input[type='text'] {
      padding: 12px;
      padding-left: 40px;
      border: none;
      color: $neutralDefault;
      background: transparent;
      @include fonts();
      font-size: 14px;
      
      ::placeholder {
        color: $neutralDefault;
      }

      &:active,
      &:focus {
        border: none;
        outline: none;
      }
    }
    & span {
      position: absolute;
      left: 8px;
      top: 8px;
      height: 24px;
      width: 24px;
  
      & svg {
        height: 100%;
        width: 100%;
      }
    }
  }
}

.redirect-page {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  gap: 4px;

  & label {
    color: $neutralEmphasis;
    @include fonts();
    font-size: 12px;
    margin-top: 4px;
  }
  & > span {
    display: inline-block;
    height: 20px;
    width: 20px;
    & > svg {
      height: 100%;
      width: 100%;
    }
  }
}

.page-body {
  position: relative;
  width: 100%;
  padding: 24px;
}

.left-icon{
  width: 20px;
  height: 20px;
}
