@import '../../styles/global';
@import '../../styles/partials/mixins';
@import '../../styles/partials/typography';
@import '../../styles/partials/variables';

.btn-primary {
  display: flex;
  padding: 16px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border-radius: 4px;
  background: $primaryDefault;
  color: $white;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 21px */
  letter-spacing: -0.14px;
  outline: none;
  border: none;
  cursor: pointer;
  @include fonts(bold);
}

.btn-secondary {
  display: flex;
  padding: 0px 16px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border-radius: 4px;
  border: 1px solid $primaryDefault;
  background: $white;
  color: $primaryDefault;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 21px */
  letter-spacing: -0.14px;
  cursor: pointer;
  @include fonts(bold);
}

.btn-small-light {
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 4px;
  background: $primarySurface;
  border: none;
  outline: none;
  color: $primaryDefault;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 18px */
  cursor: pointer;
  @include fonts(bold);

  & span {
    position: absolute;
    margin: 8px;
    height: 20px;
    width: 20px;

    & svg {
      height: 100%;
      width: 100%;
    }
  }
}

.btn-icon{
  width: 20px;
  height: 20px;
}

.btn-text.btn-text{
  position: static;
  width: auto;
  height: auto;
  margin: 2px 0 0;
}
