@import '../../styles/partials/mixins';
@import '../../styles/partials/variables';

.aisuggestion{
    max-width: 330px;

    &-header{
        display: flex;
        align-items: center;
        gap: 16px;
    }

    &-img{
        width: 24px;
        height: 24px;
    }

    &-title{
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 150%; /* 24px */
        letter-spacing: -0.16px;
        @include fonts(bold);
        color: $neutralEmphasis;
    }

    &-clause{
        &-cont{
            border-radius: 4px;
            border: 2px solid $neutralSurface;
            background: $neutralSurface;
            gap: 8px;
            padding: 24px;
            margin-bottom: 8px;
            margin-top: 18px;
            display: flex;
            flex-direction: column;

            &:first-child{
                margin-top: 0;
            }

            &-active{
                border: 2px solid $neutralBorder;
                background: $white;

                .aisuggestion-clause-title{
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 150%;
                    @include fonts(bold);
                    color: $neutralEmphasis;
                }
            }
        }

        &-title{
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
            @include fonts(); 
            color: $neutralDefault;
        }

        &-desc{
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
            @include fonts(); 
            color: $neutralDefault;
        }

        &-btn{
            &-cont{
                margin-top: 16px;
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
        }
    }

    &-delete{
        width: 24px;
        height: 24px;
    }
}

.aisummary{
    max-width: 330px;
    background: $neutralSurface;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 24px;
    margin-bottom: 24px;

    &-header{
        display: flex;
        align-items: center;
        gap: 16px;
    }

    &-img{
        width: 24px;
        height: 24px;
    }

    &-title{
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 150%; /* 24px */
        letter-spacing: -0.16px;
        @include fonts(bold);
        color: $neutralEmphasis;
    }

    &-clause{
        &-title{
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%; /* 21px */
            letter-spacing: -0.14px;
            color: $neutralEmphasis;
            margin-bottom: 4px;
        }

        &-desc{
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%; 
            @include fonts();
            color: $neutralDefault;
        }
    }
}