@import '../../styles/global.scss';
@import '../../styles/partials/typography';

.contract-tabs {
  width: 236px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  background-color: $primaryDefault;
  padding: 24px;

  &-heading {
    font-family: body-xl;
    color: $white;
    padding: 12px;
    border-radius: 4px;
    margin-bottom: 8px;
    background: rgba(0, 14, 26, 0.2);
  }

  &__title {
    padding: 8px 12px;
    margin-bottom: 8px;
    color: $primarySurface;
    // font-family: body-medium;
    font-weight: 400;
    font-size: 14px;

    &-active {
      font-family: body-medium-emphasis;
      color: $white;
    }
    &:hover {
      cursor: pointer;
    }
  }
  &__submenu {
    padding: 10px;
    &:first-child {
      margin-top: 10px;
    }
  }

  &__content {
    width: 100%;
    padding: 24px;
  }
}
