@import '../../styles/global';
@import '../../styles/partials/mixins';
@import '../../styles/partials/typography';

.simba-tabs {
  //   position: relative;
}
.simba-tab-items {
  display: flex;
  margin-bottom: 24px;
  border-bottom: 2px solid $neutralBorder;

  & > div {
    padding: 4px 24px 8px 0;
    color: $neutralDefault;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.14px;
    @include fonts();
    position: relative;
    top: 2px;

    & * {
      cursor: pointer;
    }

    &.simba-tab-active {
      color: $neutralEmphasis;
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: 150%;
      letter-spacing: -0.14px;
      border-bottom: 4px solid $secondaryDefault;
      @include fonts(bold);
    }
  }
}
