// Variables

// MWF Font weight
$bold: 700;
$semi-bold: 600;
$medium-bold: 500;
$regular-bold: 400;

$black: #000;
$white: #fff;
$error: #d35b5b;

$primaryDefault: #003866;
$primarySurface: #e0edff;
$secondaryDefault: #00a3bd;

$neutralEmphasis: #000e1a;
$neutralDefault: #687783;
$neutralSubtle: #909498;

$neutralBorder: #f3f3f7;
$neutralSurface: #f3f3f7;
$neutralBg: #ffffff;
$white: #ffffff;
$negativeBg: #ffebeb;
$negativeBorder: #ffb8b8;
$negativeSubtle: #ff5c5c;
$success: #00a843;
