@import '../../styles/global';
@import '../../styles/partials/typography';

.template-option-groups {
  display: flex;
  width: 211px;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}
.template-options {
  width: 100%;
}
.template-options p {
  display: flex;
  padding: 8px 24px 8px 8px;
  align-items: center;
  align-self: stretch;
  background: $neutralSurface;
  color: $neutralDefault;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 21px */
  letter-spacing: -0.14px;
  margin-bottom: 4px;
}

.template-options.level-1 > p {
  border-top: 2px solid $neutralBorder;
  background-color: $white;
  color: $neutralDefault;
  font-weight: 400;
  @include fonts();
}

.template-options.level-1 > p.active {
  border-top: 2px solid $neutralEmphasis;
  background-color: $white;
  color: $neutralEmphasis;
  font-weight: 700;
  @include fonts(bold);
}

.template-options.level-2 > p.active {
  background: $neutralEmphasis;
  color: $white;
  @include fonts(bold);
}

.template-options.level-3 > p {
  background-color: $white;
  border-left: 2px solid $neutralBorder;
  @include fonts();
}

.template-options.level-3 > p.active {
  font-weight: 700;
  border-left: 2px solid $neutralEmphasis;
  color: $neutralEmphasis;
  background-color: $white;
  @include fonts(bold);
}

.divider {
  border-top: 2px solid $neutralBorder;
}
