@import 'partials/reset';
@import 'partials/variables';

// @import 'partials/typography';

.App {
  min-height: 100vh;
  display: flex;
}
.routes {
  display: flex;
  flex-grow: 1;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
label {
  margin: 0;
}
