@import '../../styles/global';
@import '../../styles/partials/mixins';
@import '../../styles/partials/typography';
.templates {
  display: flex;
  flex-direction: column;
  position: relative;
}

.template-header {
  font-size: 24px;
  font-weight: 700;
  line-height: 150%;
  margin-bottom: 25px;
  color: $neutralEmphasis;
  display: flex;
  justify-content: space-between;
  align-items: center;

  label {
    @include fonts(bold);
    font-size: 24px;
  }
}

.templates-list {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  overflow-x: hidden;
}

.templates-card {
  display: flex;
  flex-direction: column;
  padding: 16px;
  border-radius: 4px;
  border: 2px solid $neutralBorder;
  width: 100%;
  gap: 4px;

  p {
    margin: 0;
  }

  &:first-child {
    border: 2px solid $neutralEmphasis;
  }

  .template-author-date {
    position: relative;
    display: flex;
    color: $neutralDefault;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 18px */
    @include fonts(bold);
  }

  .template-bookmark {
    position: absolute;
    right: 8px;

    top: -2px;
    display: flex;
    width: 24px;
    height: 24px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background: $primarySurface;
  }
  .template-details {
    display: flex;
    flex-direction: column;
    gap: 4px;
    .template-title {
      color: $neutralEmphasis;
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: 150%;
      letter-spacing: -0.14px;
      @include fonts(bold);
    }
    .template-description {
      overflow: hidden;
      color: $neutralDefault;
      text-overflow: ellipsis;

      // font-family: 'Frutiger LT Std';
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
    }
    .template-created {
      color: $neutralDefault;
      // font-family: 'Frutiger LT Std';
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
    }
  }
}

.template-category {
  width: 684px;
  max-width: 684px;

  &-heading {
    color: $neutralEmphasis;
    text-align: left;
    font-size: 24px;
    padding: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    margin: 0;
    border-bottom: 2px solid $neutralBorder;
    @include fonts(bold);
  }
  &-body {
    display: flex;
    padding: 24px;
    column-gap: 24px;
  }
  &-options {
    & p {
      color: $neutralDefault;
      margin-bottom: 4px;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%; /* 21px */
      letter-spacing: -0.14px;
      cursor: pointer;
      padding: 8px 24px 8px 8px;
      background: $neutralSurface;
      @include fonts();
      max-width: 180px;

      &.active {
        color: $white;
        background: $neutralEmphasis;
      }
    }
  }

  &-actions {
    display: flex;
    padding: 16px;
    justify-content: end;
    column-gap: 8px;
    border-top: 2px solid $neutralBorder;
  }
}

.template-view-setting {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;

  select {
    border: none;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    cursor: pointer;
    color: $neutralEmphasis;
    @include fonts(bold);
    padding: 8px;

    &:active,
    &:focus {
      border: none;
      outline: none;
    }
  }
}

.template-preview {
  padding: 48px;
  border-radius: 2px;
  border: 1px solid $neutralBorder;
  background: $white;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  width: 566px;
  min-height: 754px;
  padding: 48px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  flex-shrink: 0;
  // overflow-y: auto;
  p {
    margin: 0;
  }
}
.template-preview-heading {
  margin-bottom: 8px !important;
  color: $neutralEmphasis;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  @include fonts(bold);
}
.template-preview-subheading {
  margin-bottom: 8px !important;
  color: $neutralEmphasis;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 24px */
  letter-spacing: -0.16px;
  @include fonts(bold);
}
.template-preview-description {
  margin-bottom: 8px !important;
  color: $neutralEmphasis;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 21px */
  letter-spacing: -0.14px;
  @include fonts(bold);
}

.template-preview-content {
  color: $neutralDefault;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 21px */
  letter-spacing: -0.14px;
  @include fonts();
  margin-bottom: 24px;

  &:last-child {
    margin-bottom: 0;
  }
}

.config-container {
}
.config-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 46px;
}
.config-actions {
  display: flex;
  gap: 8px;
}

.template-review {
  .template-clause {
    color: $neutralEmphasis;

    /* Body/XL Emphasis */
    // font-family: "Frutiger LT Std";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 36px */
    margin-bottom: 25px;
  }

  .template-subclause {
    color: $neutralEmphasis;
    /* Body/Large Emphasis */
    // font-family: 'Frutiger LT Std';
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 24px */
    letter-spacing: -0.16px;
    margin-bottom: 8px;
  }

  .template-clause-content {
    color: $neutralDefault;

    /* Body/Medium (default) */
    // font-family: "Frutiger LT Std";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 21px */
    letter-spacing: -0.14px;
    margin-bottom: 24px;
  }
}

.template {
  &-view {
    &-style {
      border-radius: 4px;
      overflow: hidden;
      height: 24px;
    }
  }
}

.template {
  &-category {
    &-contract {
      &-cont {
        display: flex;
        flex-direction: column;
        gap: 4px;
        margin-bottom: 24px;

        h4 {
          font-size: 16px;
          font-style: normal;
          font-weight: 700;
          line-height: 150%; /* 24px */
          letter-spacing: -0.16px;
          @include fonts(bold);
          color: $neutralEmphasis;
        }
      }
    }
  }
}

.suggestions {
  display: flex;
  width: 331px;
  flex-direction: column;
  align-items: flex-start;
}

.suggestions-title {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 18px;

  & p {
    color: $neutralEmphasis;
    @include fonts(bold);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 24px */
    letter-spacing: -0.16px;
  }
}

.suggestion-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.suggestion-item {
  align-items: flex-start;
  width: 331px;
  padding: 24px;
  border-radius: 4px;
  border: 1px solid $neutralSurface;
  background: $neutralSurface;
  color: $neutralDefault;

  @include fonts(regular);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.suggestion-details {
  display: flex;
  width: 331px;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  border-radius: 4px;
  border: 2px solid $neutralBorder;
  background: $white;

  .suggestion-details-title {
    align-self: stretch;
    color: $neutralEmphasis;
    @include fonts(bold);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 21px */
    letter-spacing: -0.14px;
  }
  .suggestion-details-desc {
    color: var(--neutralDefault, #687783);
    @include fonts(regular);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 21px */
    letter-spacing: -0.14px;
  }
  .suggestion-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    & .simba-icon {
      background: $neutralSurface;
      span {
        display: flex;
        width: 24px;
        height: 24px;
        justify-content: center;
        align-items: center;
        svg {
          width: 12px;
          height: 14px;
          flex-shrink: 0;
        }
      }
    }
  }
}

.summary {
  display: flex;
  width: 330px;
  min-height: 788px;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  flex-shrink: 0;
  border-radius: 4px;
  background: $neutralSurface;
  & .suggestions-title {
    margin-bottom: 0;
  }
}

.summary-short {
  color: $neutralDefault;
  align-self: stretch;

  /* Body/Small */
  @include fonts(regular);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 18px */
}

.summary-title {
  display: inline-block;
  color: $neutralEmphasis;
  @include fonts(regular);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 21px */
  letter-spacing: -0.14px;
  margin-bottom: 4px;
}
.summary-desc {
  color: $neutralDefault;
  @include fonts(regular);

  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 21px */
  letter-spacing: -0.14px;
}
