@import '../../styles/global';
@import '../../styles/partials/typography';

.clauses-text {
  color: $neutralDefault;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 200%; /* 32px */
  letter-spacing: -0.16px;
  position: relative;
  @include fonts();

  strong{
    @include fonts(bold);
  }
}

.clause-selected {
  border-left: 1px solid $neutralDefault;
}

.clause-toolbar {
  position: absolute;

  display: flex;
  justify-content: flex-end;
  gap: 5px;
  top: -25px;
  right: 0;
}

.quill{
  margin-bottom: 16px;
}

.ql-editor{
  @include fonts();

  strong{
    @include fonts(bold);
  }
}