@import '../../styles/global';
@import '../../styles/partials/mixins';
@import '../../styles/partials/typography';

.name-input {
  display: flex;
  align-items: center;
  row-gap: 16px;
}

.name-input-field,
.name-input-text {
  color: $neutralSubtle;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  margin-right: 16px;
  @include fonts(bold);
}

.name-input-field {
  outline: none;
  border: none;
  border-bottom: 1px solid $primaryDefault;
}

.name-input-icon {
  display: flex;
  height: 24px;
  padding: 4px;
  align-items: center;
  border-radius: 4px;
  background: $neutralSurface;
  cursor: pointer;
  
  svg {
    height: 20px;
    width: 20px;
  }
}
